<ion-header>

  <ion-navbar text-center color=primary>
      <ion-title >LM Immobilier</ion-title>
    </ion-navbar>
 
  </ion-header>
  
  <ion-content class="no-scroll">
    <div class="bg" text-center>
      <div class="logo">
        <img  src="assets//imgs/logoClef.png" />
      </div>
        
    
     
    <button id="eventButton" ion-button outline round color="light" (tap) = "showEvent()">Evenements</button>
    <p></p>


    


    

    <div id="logged" *ngIf="user !=null" style="display: block">
    <button id="venteButton"  ion-button outline round color="light" (tap) = "showVueVentePage()" >Mise en relation</button>
    <div>
    <button id="logOutButton" ion-button clear color="light" (tap) = "logOut()" >Se Deconnecter</button>
    </div>
    </div>
    
    <div id="login" *ngIf="user==null" style="display: block">
    <button  id="networkButton"  ion-button outline round color="light" (tap) = "showLogin()" >Se Connecter</button>
    </div>
    <p></p>
  </div>
  </ion-content>
  

  