page-CreerCompte {
    @import url('https://fonts.googleapis.com/css?family=Pacifico');    
    
        #saveButton {
            display: block;
            margin: auto 0;
            margin: 0 auto;
        }
    
        .bg {
            margin: 0;
            height: 100%;
            width: 100%;
            background-image: url(../assets/imgs/building2.jpg);
            background-size: cover;
            //background: #03001e;  /* fallback for old browsers */
            //background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
            //background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        }
    
        //.content {margin: 0;}
        
        .ion-content{
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            overflow: hidden;
        
        }

        ::webkit-scrollbar,
        *::webkit-scrollbar {
            display: none;
        }
    
        ion-card.card{
            padding: 30px;
            box-shadow: none;
            background: rgba(0,0,0,0.5);
            border-radius: 5px;
        }
    
        a,p,
        ion-card-header.card-header {
            align-content: center;
            text-align: center;
            color: rgb(127, 111, 216);
            
        }
    
        .list > .item-block .item-inner {
            border: medium none;
        }
    
    
    
        
        .item {
            
            
            //margin-left: 10px;
            margin-bottom: 10px;
            background: rgba(255, 255, 255, 0.2);
            border: medium none;
            //size: 100px;
    
            .label,.select{
                color: whitesmoke;
                margin-right: 0px;
            
                .icon{
                    font-size: 25px;
                    color: black;
                }
            
            }
    
    
            .input{
                margin: auto;
            }
    
    
            .text-input, {
                color: #fff;
            }
    
    
            *:-moz-placeholder{
                color: #fff!important;
            }
    
            *:-ms-input-placeholder{
                color: #fff!important;
            }
    
            *::-webkit-input-placeholder{
                color: #fff!important;
            }
    
            input::-moz-placeholder {
                color: #fff!important;
            }
            
            input:-moz-placeholder {
                color: #fff!important;
            }
        }
        
}
    

